{% extends "base.html" %}

{% block title %}
    Password Changed | CineFlow
{% endblock %}


{% block content %}

<section class="auth-page">

    <div class="container">

        <div class="auth-card text-center">

            <div class="auth-icon">

                <i class="bi bi-check-circle"></i>

            </div>


            <span class="section-label">
                CINEFLOW ACCOUNT
            </span>


            <h1>
                Password Changed
            </h1>


            <p>
                Your password has been successfully updated.
                You can now log in with your new password.
            </p>


            <a
                href="{% url 'accounts:login' %}"
                class="btn cine-btn-primary"
            >

                Continue to Login

                <i class="bi bi-arrow-right"></i>

            </a>

        </div>

    </div>

</section>

{% endblock %}