{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block title %}
    Change Password | CineFlow
{% endblock %}


{% block content %}

<section class="auth-page">

    <div class="container">

        <div class="auth-wrapper">

            <div class="auth-card">

                <div class="auth-logo">

                    <a href="{% url 'movies:home' %}">
                        CineFlow
                    </a>

                </div>


                <div class="auth-header">

                    <span class="section-label">
                        SECURITY
                    </span>

                    <h1>
                        Change password
                    </h1>

                    <p>
                        Update the password used to access
                        your CineFlow account.
                    </p>

                </div>


                <form method="post">

                    {% csrf_token %}

                    {{ form|crispy }}


                    <button
                        type="submit"
                        class="btn cine-btn-primary auth-submit"
                    >

                        Update Password

                        <i class="bi bi-arrow-right"></i>

                    </button>

                </form>


                <div class="auth-register">

                    <a
                        href="{% url 'accounts:profile' %}"
                    >
                        <i class="bi bi-arrow-left"></i>

                        Back to Profile
                    </a>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}