{% extends "base.html" %}


{% block title %}
    Password Updated | CineFlow
{% endblock %}


{% block content %}

<section class="auth-page">

    <div class="container">

        <div class="auth-wrapper">

            <div class="auth-card text-center">

                <div class="auth-success-icon">

                    <i class="bi bi-shield-check"></i>

                </div>


                <span class="section-label">
                    SECURITY UPDATED
                </span>


                <h1>
                    Password updated
                </h1>


                <p>
                    Your CineFlow password has been
                    changed successfully.
                </p>


                <a
                    href="{% url 'accounts:profile' %}"
                    class="btn cine-btn-primary auth-submit"
                >

                    Back to Profile

                </a>

            </div>

        </div>

    </div>

</section>

{% endblock %}