<footer class="cine-footer">

    <div class="container">

        <div class="row g-4">


            <!-- =====================================================
                 BRAND
            ====================================================== -->

            <div class="col-lg-5">

                <a
                    href="{% url 'movies:home' %}"
                    class="cine-brand mb-3 text-decoration-none"
                >

                    <span class="brand-mark">
                        C
                    </span>

                    <span>
                        CineFlow
                    </span>

                </a>


                <p class="footer-description">

                    Your simple and seamless way to
                    discover movies and book cinema
                    tickets.

                </p>

            </div>


            <!-- =====================================================
                 CINEFLOW
            ====================================================== -->

            <div class="col-6 col-lg-2">

                <h6>
                    CineFlow
                </h6>

                <ul class="footer-links">

                    <li>
                        <a href="{% url 'movies:home' %}">
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'movies:movie_list' %}">
                            Movies
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'cinemas:cinema_list' %}">
                            Cinemas
                        </a>
                    </li>

                </ul>

            </div>


            <!-- =====================================================
                 MY ACCOUNT
            ====================================================== -->

            <div class="col-6 col-lg-2">

                <h6>
                    My Account
                </h6>

                <ul class="footer-links">

                    {% if user.is_authenticated %}

                        <li>
                            <a href="{% url 'accounts:profile' %}">
                                Profile
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'bookings:my_bookings' %}">
                                My Bookings
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'support:my_tickets' %}">
                                Support
                            </a>
                        </li>

                    {% else %}

                        <li>
                            <a href="{% url 'accounts:login' %}">
                                Login
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'accounts:register' %}">
                                Create Account
                            </a>
                        </li>

                    {% endif %}

                </ul>

            </div>


            <!-- =====================================================
                 SUPPORT
            ====================================================== -->

            <div class="col-6 col-lg-2">

                <h6>
                    Support
                </h6>

                <ul class="footer-links">

                    <li>
                        <a href="{% url 'support:create_ticket' %}">
                            Contact Support
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'support:my_tickets' %}">
                            My Support Tickets
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'movies:movie_list' %}">
                            Browse Movies
                        </a>
                    </li>

                </ul>

            </div>


        </div>


        <!-- =====================================================
             DIVIDER
        ====================================================== -->

        <hr>


        <!-- =====================================================
             FOOTER BOTTOM
        ====================================================== -->

        <div class="footer-bottom">

            <span>
                © 2026 CineFlow. All rights reserved.
            </span>

            <span>
                ALPHA
            </span>

        </div>


    </div>

</footer>