<footer class="cine-footer">

    <div class="container">

        <div class="row g-4">

            <!-- Brand -->

            <div class="col-lg-5">

                <div class="cine-brand mb-3">

                    <span class="brand-mark">
                        C
                    </span>

                    <span>
                        CineFlow
                    </span>

                </div>

                <p class="footer-description">

                    Your simple and seamless way to
                    discover movies and book cinema
                    tickets.

                </p>

            </div>


            <!-- Company -->

            <div class="col-6 col-lg-2">

                <h6>
                    CineFlow
                </h6>

                <ul class="footer-links">

                    <li>
                        <a href="#">
                            About
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Cinemas
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Movies
                        </a>
                    </li>

                </ul>

            </div>


            <!-- Support -->

            <div class="col-6 col-lg-2">

                <h6>
                    Support
                </h6>

                <ul class="footer-links">

                    <li>
                        <a href="#">
                            Help Center
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Contact
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            FAQs
                        </a>
                    </li>

                </ul>

            </div>


            <!-- Legal -->

            <div class="col-6 col-lg-2">

                <h6>
                    Legal
                </h6>

                <ul class="footer-links">

                    <li>
                        <a href="#">
                            Privacy
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            Terms
                        </a>
                    </li>

                </ul>

            </div>

        </div>


        <hr>


        <div class="footer-bottom">

            <span>
                © 2026 CineFlow. All rights reserved.
            </span>

            <span>
                ALPHA
            </span>

        </div>

    </div>

</footer>