<nav class="navbar navbar-expand-xl cine-navbar">

    <div class="container">

        <!-- =====================================================
             BRAND
        ====================================================== -->

        <a
            class="navbar-brand cine-brand"
            href="{% url 'movies:home' %}"
        >

            <span class="brand-mark">
                C
            </span>

            <span>
                CineFlow
            </span>

        </a>


        <!-- =====================================================
             MOBILE TOGGLE
        ====================================================== -->

        <button
            class="navbar-toggler cine-navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#cineNavbar"
            aria-controls="cineNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >

            <i class="bi bi-list"></i>

        </button>


        <!-- =====================================================
             NAVIGATION
        ====================================================== -->

        <div
            class="collapse navbar-collapse"
            id="cineNavbar"
        >

            <ul class="navbar-nav mx-auto">

                <!-- HOME -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{% url 'movies:home' %}"
                    >
                        Home
                    </a>

                </li>


                <!-- MOVIES -->

                <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{% url 'movies:movie_list' %}"
                    >
                        Movies
                    </a>

                </li>


                <!-- CINEMAS -->

                

                <li class="nav-item">

                    <a
                        class="nav-link"
                        href="{% url "cinemas:cinema_list" %}"
                    >
                        Cinemas
                    </a>

                </li>



                    {% if user.is_staff %}

                    <li class="nav-item">
    
                        <a
                            class="nav-link"
                            href="{% url 'staff:dashboard' %}"
                        >
                            Staff Dashboard
                        </a>
    
                    </li>
                    {% endif %}




                <!-- MY BOOKINGS -->

                {% if user.is_authenticated %}

                    <li class="nav-item">

                        <a
                            class="nav-link"
                            href="{% url "bookings:my_bookings" %}"
                        >
                            My Bookings
                        </a>

                    </li>

                {% endif %}

            </ul>


            <!-- =================================================
                 RIGHT SIDE
            ================================================== -->

            <div class="d-flex align-items-center gap-2">


                <!-- =================================================
                     THEME TOGGLE
                ================================================== -->

                <button
                    type="button"
                    class="theme-toggle"
                    id="themeToggle"
                    aria-label="Toggle theme"
                >

                    <i class="bi bi-sun-fill"></i>

                </button>


                {% if user.is_authenticated %}


                    <!-- =============================================
                         USER MENU
                    ============================================== -->

                    <div class="dropdown">

                        <button
                            class="btn cine-user-menu dropdown-toggle"
                            type="button"
                            data-bs-toggle="dropdown"
                            data-bs-auto-close="true"
                            aria-expanded="false"
                        >

                            <span class="user-avatar">

                                {% if user.first_name %}

                                    {{ user.first_name|first|upper }}

                                {% else %}

                                    {{ user.username|first|upper }}

                                {% endif %}

                            </span>


                            <span class="user-name">

                                {% if user.first_name %}

                                    {{ user.first_name }}

                                {% else %}

                                    {{ user.username }}

                                {% endif %}

                            </span>

                        </button>


                        <!-- =========================================
                             USER DROPDOWN
                        ========================================== -->

                        <ul
                            class="dropdown-menu dropdown-menu-end cine-user-dropdown"

                        >

                            <!-- STAFF DASHBOARD -->

                            {% if user.is_staff %}
                            
                            <li>

                                <a
                                        class="dropdown-item"
                                        href="{% url 'staff:dashboard' %}"
                                    >

                                    <i class="bi bi-speedometer2"></i>

                                        Staff Dashboard

                                    </a>
                                    
                                </li>
                            

                            {% endif %}


                            <!-- PROFILE -->

                            <li>

                                <a
                                    class="dropdown-item"
                                    href="{% url 'accounts:profile' %}"
                                >

                                    <i class="bi bi-person"></i>

                                    Profile

                                </a>

                            </li>


                            <!-- MY BOOKINGS -->

                            <!--
                                Booking list page will be connected
                                when we create it.
                            -->

                            <li>

                                <a
                                    class="dropdown-item"
                                    href="{% url "bookings:my_bookings" %}"
                                    >
                                    
                                    <i class="bi bi-ticket-perforated"></i>

                                    My Bookings

                                </a>

                            </li>
                            <li>
                                
                                
                                <a class="dropdown-item" 
                                href="{% url 'support:my_tickets' %}">
                                    <i class="bi bi-headset"></i>
                                    Support
                                </a>
                                
                            </li>

                            <!-- CHANGE PASSWORD -->

                            <li>

                                <a
                                    class="dropdown-item"
                                    href="{% url 'accounts:password_change' %}"
                                >

                                    <i class="bi bi-shield-lock"></i>

                                    Change Password

                                </a>

                            </li>


                            <li>

                                <hr class="dropdown-divider">

                            </li>


                            <!-- LOGOUT -->

                            <li>

                                <form
                                    method="post"
                                    action="{% url 'accounts:logout' %}"
                                >

                                    {% csrf_token %}

                                    <button
                                        type="submit"
                                        class="dropdown-item cine-logout-item"
                                    >

                                        <i class="bi bi-box-arrow-right"></i>

                                        Logout

                                    </button>

                                </form>

                            </li>

                        </ul>

                    </div>


                {% else %}


                    <!-- =============================================
                         LOGIN
                    ============================================== -->

                    <a
                        href="{% url 'accounts:login' %}"
                        class="btn cine-btn-outline"
                    >
                        Login
                    </a>


                    <!-- =============================================
                         REGISTER
                    ============================================== -->

                    <a
                        href="{% url 'accounts:register' %}"
                        class="btn cine-btn-primary"
                    >
                        Get Started
                    </a>

                {% endif %}

            </div>

        </div>

    </div>

</nav>